<section class="hero">
  <h1 class="sr-only">{{ entry.title }}</h1>
  <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/home-hero.jpg?w=3826&h=1854&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759924151&s=9a748350dab7788fccbc18b85f226121" alt="">
</section>
<section class="cta">
  <div class="ctas">
    <a class="cta" href="">
      <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/cta.png?w=423&h=272&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759923292&s=403e0f6a1c32c001f6207b754e6f1b5b" alt="">
      <div class="cta-title">Selection guide</div>
    </a>
    <a class="cta" href="">
      <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/cta2.png?w=423&h=272&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759923293&s=f19c6889cc3e6800a62ac42146af019d" alt="">
      <div class="cta-title">All Trackers</div>
    </a>
    <a class="cta" href="">
      <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/cta3.png?w=423&h=272&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759923296&s=368cd9cf0f132201c93e911ce186da87" alt="">
      <div class="cta-title">Sensors</div>
    </a>
    <a class="cta" href="">
      <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/cta4.png?w=423&h=272&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759923298&s=738ee31699103ff051ad0d84e25a7b50" alt="">
      <div class="cta-title">Digitizing Products</div>
    </a>
  </div>
</section>
<section class="about">
  <div class="about-lt">
    <div class="cross green cross-tl" data-spinner></div>
    <div class="cross green cross-tr"></div>
    <h2 class="about-title">The Global Leader in 3D Motion Tracking For Over 50 Years</h2>
    <div class="about-copy">
      <p>Polhemus products are used around the globe in healthcare, research and technology, and military applications. We deliver 6DOF motion tracking solutions with ultra-low latency and high performance sensors that are fully embeddable. We offer the highest quality tracking systems, the latest in 3D laser scanning and state-of-the art eye tracking solutions. We're the preferred choice for medical applications, including training and simulation, military training and helmet tracking on live aircraft, the world's top researchers and more.</p>
    </div>
    <div class="about-btn">
      <a class="button green" href="">Learn more</a>
    </div>
    <div class="cross green cross-bl"></div>
    <div class="cross green cross-br" data-spinner></div>
  </div>
  <div class="about-rt">
    <div class="slider-wrap">
      <div class="slider" data-autoplay="true" data-infinite="true" data-append-arrows=".nav-arrows">
        <div class="slide">
          <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/home-slide.png?w=1780&h=1501&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759925778&s=d2e8a357d996982320485c700dba7a84" alt="">
          <div class="slide-title">LIGHTNING SPEED.<br />CUSTOMIZABLE SYSTEM.<br />LOWEST LATENCY AVAILABLE.</div>
        </div>
        <div class="slide">
          <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/home-slide.png?w=1780&h=1501&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759925778&s=d2e8a357d996982320485c700dba7a84" alt="">
          <div class="slide-title">LOWEST LATENCY AVAILABLE.<br />LIGHTNING SPEED.<br />CUSTOMIZABLE SYSTEM.</div>
        </div>
        <div class="slide">
          <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/home-slide.png?w=1780&h=1501&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759925778&s=d2e8a357d996982320485c700dba7a84" alt="">
          <div class="slide-title">CUSTOMIZABLE SYSTEM.<br />LOWEST LATENCY AVAILABLE.<br />LIGHTNING SPEED.</div>
        </div>
      </div>
      <div class="slider-nav">
        <div class="nav-arrows"></div>
      </div>
    </div>
  </div>
</section>
<section class="marketing">
  <div class="marketing-sub-title">
    <h2>Powered by</h2>
  </div>
  <div class="marketing-title">
    <div class="logo-wrapper">
      <div class="cross white cross-tr" data-spinner></div>
      <div class="cross white cross-bl"></div>
      <div class="logo"></div>
    </div>
  </div>
  <div class="marketing-ctas">
    <p>Our motion tracking products power a wide variety of applications around the world.	</p>
    <a class="marketing-cta" href="">
      <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/scientist.jpg?w=2000&h=1100&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759941385&s=8b6e884ff12471d20deefeb8d4520430" alt="">
      <div class="type">Technology & Research</div>
      <div class="more">Learn More</div>
    </a>
    <a class="marketing-cta" href="">
      <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/pilot.jpg?w=1200&h=800&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759941383&s=725a51fd9ccc64c93d5af4b0e6e30c74" alt="">
      <div class="type">Military</div>
      <div class="more">Learn More</div>
    </a>
    <a class="marketing-cta" href="">
      <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/doctor.jpg?w=1200&h=800&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759941381&s=94077f7a356182a0163efbcebbe6c09a" alt="">
      <div class="type">Medical</div>
      <div class="more">Learn More</div>
    </a>
    <div class="gap"></div>
    <div class="cross white cross-tl" data-spinner></div>
    <div class="cross white cross-br"></div>
  </div>
  <div class="cta-wrapper">
    <div class="cta">
      <a class="button white" href="">Talk to Sales</a>
    </div>
  </div>
  <div class="marketing-bottom"></div>
</section>
<section class="blog">
  <div class="blog-lt">
    <div class="slider-wrap">
      <div class="slider-side"></div>
      <div class="slider" data-autoplay="true" data-fade="true" data-infinite="true" data-append-arrows=".blog-nav-arrows">
        <div class="slide">
          <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/blog-slide.jpg?w=2000&h=1331&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759944104&s=9577babf7336dda21e12fd6b5d58812a" alt="">
          <div class="slide-title">Blog Post Title</div>
          <div class="slide-excerpt"><b>Blog Post Exerpt.</b> Lorem ipsum dolor sit amet consectetur. Volutpat egestas interdum eu adipiscing in viverra auctor in arcu.</div>
        </div>
        <div class="slide">
          <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/home-slide.png?w=1780&h=1501&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759925778&s=d2e8a357d996982320485c700dba7a84" alt="">
          <div class="slide-title">And a longer post title</div>
          <div class="slide-excerpt"><b>Blog Post Exerpt.</b> Lorem ipsum dolor sit amet consectetur. Volutpat egestas interdum eu adipiscing in viverra auctor in arcu egestas interdum. </div>
        </div>
      </div>
      <div class="blog-nav-arrows"></div>
    </div>
  </div>
  <div class="blog-rt">
    <div class="cross green cross-tl" data-spinner></div>
    <div class="cross green cross-tr"></div>
    <h2 class="blog-title">Insights</h2>
    <div class="blog-copy">
      <p>With over 50 years of experience, we bring you insights, new developments, and stories of interest on all things motion tracking --from the global leader and industry experts.</p>
    </div>
    <div class="blog-btn">
      <a class="button green" href="">See All Posts</a>
    </div>
    <div class="cross green cross-br" data-spinner></div>
  </div>
</section>
<section class="testimonials">
  <div class="testimonials-lt">
    <h2>Client Testimonials</h2>
  </div>
  <div class="testimonials-rt">
    <div class="slider" data-autoplay="true" data-fade="true" data-infinite="true" data-arrows="false" data-dots="true" data-append-dots=".testimonials-rt">
      <div class="slide">
        <p>“G4 is really remarkable, in front of any other device that we experienced until now. It’s really a great product that definitely surpasses all others in its class."</p>
        <p></p>
        <p>- Roberto Furlan, Managing Director, Khymeia</p>
      </div>
      <div class="slide">
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
        <p></p>
        <p>- Frank Franklin, CEO of Business</p>
      </div>
      <div class="slide">
        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
        <P></P>
        <p>- Bob Jones, Delaware</p>
      </div>
    </div>
  </div>
</section>