{% if entry.title == 'Viper' %}
  <section class="hero-section">
    <div class="hero">
      <h1 class="sr-only">{{ entry.title }}</h1>
      <div class="rive-wrapper">
        <div class="rive" data-rive-url="https://pom-craft.files.svdcdn.com/local/media/rive/hero-viper_VF.riv?dm=1759666854" data-rive-state-machine="State Machine 1" data-rive-artboard="Artboard-Main" data-rive-autoplay="true" data-rive-is-touch-scroll-enabled="false" data-rive-automatically-handle-events="false" data-rive-fit="fitWidth" data-rive-alignment="topCenter">
          <canvas style="height:100%;width:100%"></canvas>
        </div>
      </div>
      <div class="hero-copy">
        <h2 class="fade-up tricks">Customizable, Real-time <br />tracking. Redefined.</h2>
      </div>
      <div class="hero-features">
        <div class="features" data-anim="fade-right">
          <div class="stats">
            <div class="stat-block" data-anim="fade-up" data-delay="500">
              <img alt="" loading="lazy" src="https://pom-craft.files.svdcdn.com/local/media/media/Products/hero-sensors.svg?dm=1759746974">
            </div>
            <div class="stat-block" data-anim="fade-up" data-delay="750">
              <img alt="" loading="lazy" src="https://pom-craft.files.svdcdn.com/local/media/media/Products/hero-sources.svg?dm=1759746975">
            </div>
            <div class="stat-block" data-anim="fade-up" data-delay="1000">
              <img alt="" loading="lazy" src="https://pom-craft.files.svdcdn.com/local/media/media/Products/hero-hz.svg?dm=1759746971">
            </div>
            <div class="stat-block" data-anim="fade-up" data-delay="1250">
              <img class="image" alt="" loading="lazy" src="https://pom-craft.files.svdcdn.com/local/media/media/Products/hero-ms.svg?dm=1759746973">
            </div>
          </div>
          <div class="feature-video" data-anim="fade" data-delay="1250">
            <a class="glightbox" href="https://vimeo.com/1054689121/3560d2ab93?share=copy" data-type="video" data-source="vimeo" data-width="940" data-height="529">
              <p class="play">Watch Intro</p>
            </a>
            <div class="background-video">
              <video autoplay loop muted playsinline style="background-image:url(https://pom-craft.transforms.svdcdn.com/local/media/media/Video/VIPER_INTRO.jpg?w=1280&h=720&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759746955&s=b6b65169523e886f49e767de68811bc2)">
                <source src="https://servd-pom-craft.b-cdn.net/local/media/media/Video/VIPER_INTRO.mp4"></source>
                <source src="https://servd-pom-craft.b-cdn.net/local/media/media/Video/VIPER_INTRO.webm"></source>
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="intro-section">
    <div class="intro-container-lt" data-anim="fade-left" style="opacity:0">
      <div class="orange-container"></div>
      <div class="slider" data-autoplay="true" data-arrows="false" data-infinite="true">
        <div class="slide">
          <div class="slide-inner">
            <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Sliders/slide.webp?w=1225&h=780&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759765063&s=72277d1126b2616b0c87430b47dd4970">
            <div class="h3">LIGHTNING SPEED.<br />CUSTOMIZABLE SYSTEM.<br />LOWEST LATENCY AVAILABLE.</div>
          </div>
        </div>
        <div class="slide">
          <div class="slide-inner">
            <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Sliders/slide.webp?w=1225&h=780&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759765063&s=72277d1126b2616b0c87430b47dd4970">
            <div class="h3">CUSTOMIZABLE SYSTEM.</div>
          </div>
        </div>
        <div class="slide">
          <div class="slide-inner">
            <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Sliders/slide.webp?w=1225&h=780&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759765063&s=72277d1126b2616b0c87430b47dd4970">
            <div class="h3">LOWEST LATENCY POSSIBLE.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="intro-container-rt">
      <div class="cross white cross-tr" data-spinner></div>
      <div class="cross yellow cross-tl"></div>
      <div class="cross white cross-bl" data-spinner></div>
      <div class="cross yellow cross-br"></div>
      <div class="intro-content">
        <h2 class="h2" data-anim="fade-right" data-delay="250" data-distance="30" style="opacity:0">
          <span class="text-yellow">VIPER</span>
          <span>
            <sup class="text-yellow superscript">TM</sup>
          </span>
          is the fastest and most customizable electromagnetic tracker available.
        </h2>
      </div>
      <div class="intro-content" data-anim="fade-right" data-delay="500" data-distance="30" style="opacity:0">
        <p data-anim="fade-right" data-delay="500" data-distance="30" style="opacity:0">With a sleek, small SEU size, update rates up to 960Hz, and latency as low as one millisecond, VIPER offers scaled-up capability in a scaled-down package. With added FTT (Fly True Technology), VIPER delivers what you need, when you need it.</p>
      </div>
      <div class="intro-content bottom">
        <a class="button yellow w-button" href="" data-anim="fade-right" data-delay="750" data-distance="30" style="opacity:0">Brochure</a>
        <a class="button green w-button" href="" data-anim="fade-right" data-delay="1000" data-distance="30" style="opacity:0">Comparison Specs</a>
      </div>
    </div>
  </section>
  <section class="device-section">
    <div class="rive-container">
      <div class="sidemenu">
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#C-S">
            <div class="sidemenu-btn"></div>
            <div class="sidemenu-name">Customizable</div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#HowItWorks">
            <div class="sidemenu-btn"></div>
            <div class="sidemenu-name">How It Works</div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#TheSensors">
            <div class="sidemenu-btn"></div>
            <div class="sidemenu-name">The Sensors</div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#TheHertz">
            <div class="sidemenu-btn"></div>
            <div class="sidemenu-name">The Hertz</div>
          </a>
        </div>
        <div class="sidemenu-bg"></div>
      </div>
      <div class="rive-wrapper">
        <div class="rive-scroll-section" data-rive-url="https://pom-craft.files.svdcdn.com/local/media/rive/scroll-section-viper_VF2.riv?dm=1760031871" data-rive-state-machine="State Machine 1" data-rive-artboard="Artboard" data-rive-autoplay="true" data-rive-is-touch-scroll-enabled="false" data-rive-automatically-handle-events="false" data-rive-fit="fitWidth" data-rive-alignment="center">
          <canvas style="height:100%;width:100%"></canvas>
        </div>
      </div>
    </div>
    <div class="copy-container">
      <div class="interactions">
        <div class="cross white"></div>
        <div class="feature-title" data-anim="fade-right" data-trigger-1>
          <div id="C-S" class="anchor-link"></div>
          <h2>viper Customizable &amp; Scalable</h2>
        </div>
        <div class="feature-copy">
          <div class="cross dkgreen" data-spinner></div>
          <p data-anim="fade-right" data-delay="250">As you consider your accuracy needs and review motion tracking solutions, keep in mind the scalability of your system. Polhemus AC electromagnetic tracking provides a lot of flexibility for expanding the area of coverage, while maintaining high levels of precision accuracy. Specifically, our latest product, VIPER™, offers a great solution for easily expanding tracking coverage, while not compromising in other areas, such as quality of data and accuracy.</p>
        </div>
        <img data-anim="fade-right" data-delay="500" alt="" loading="lazy" src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/viper-image.webp?w=852&h=392&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759862315&s=edc1d1fd7d37cada6753e8292656eefd">
      </div>
      <div class="interactions">
        <div class="feature-title" data-anim="fade-right" data-trigger-2>
          <div id="HowItWorks" class="anchor-link"></div>
          <h2>how it works</h2>
        </div>
        <div class="feature-copy">
          <div class="cross dkgreen" data-spinner></div>
          <p data-anim="fade-right" data-delay="250">The VIPER tracking system uses a source that emits an electromagnetic field. Finely tuned sensors within the field of range are tracked in full 6DOF, measuring both position and orientation at sub-millimiter accuracy. VIPER is a portable system that’s easy to set up. Due to the nature of the technology, there is no need for a line-of-sight for continuous tracking. VIPER tracks people and objects through clothes, gloves, and walls, and does not require any special lighting conditions.</p>
        </div>
        <img data-anim="fade-right" data-delay="500" alt="" loading="lazy" src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/device-section.webp?w=852&h=392&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759862232&s=c4c6bc9791ad9aa47e8585538dd9cc2b">
      </div>
    </div>
  </section>
  <div class="device-section">
    <div class="copy-container">
      <div class="interactions">
        <div class="cross white"></div>
        <div class="feature-title" data-anim="fade-left">
          <div id="TheSensors" class="anchor-link"></div>
          <h2>The Sensors</h2>
        </div>
        <div class="feature-copy">
          <div class="cross dkgreen" data-spinner></div>
          <p data-anim="fade-left" data-delay="250">VIPER makes it easy to expand the area of coverage to create a larger tracking envelope. By simply adding components, the tracking area can be broadened and expanded to do more and track farther. Simply add a second source for twice the tracking range. Use up to four sources to achieve the maximum coverage expansion with the VIPER system. Expanding the area of coverage, using multiple sources, has never been easier.</p>
        </div>
        <img data-anim="fade-left" data-delay="500" alt="" loading="lazy" src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/surgery.webp?w=813&h=415&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759858181&s=ef5ef80a316768d9fe67d5ef83cab536">
      </div>
      <div class="interactions">
        <div class="feature-title" data-anim="fade-left">
          <div id="TheHertz" class="anchor-link"></div>
          <h2>Up to 960hz</h2>
        </div>
        <div class="feature-copy">
          <div class="cross dkgreen" data-spinner></div>
          <p data-anim="fade-left" data-delay="250">With the Polhemus VIPER tracking solution, you don’t have to compromise; there’s no need to trade off increasing your tracking range for a downgrade in accuracy and tracking performance. You truly get the best of both worlds. As long as you stay within the signal range of the tracker, you will have seamless streams of data without “dead zones” or special areas of interruption.</p>
        </div>
        <img data-anim="fade-left" data-delay="500" alt="" loading="lazy" src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/device.webp?w=852&h=392&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759859179&s=0cb0cf1340fc2da0c12f0a8bd47fb4bc">
      </div>
    </div>
    <div class="lottie-container">
      <lottie-player class="lottie-scroll-section" src="https://pom-craft.files.svdcdn.com/local/media/lottie/Viper_Lottie_VF.json?dm=1759684926" speed="1"></lottie-player>
      <div class="sidemenu">
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#C-S">
            <div class="sidemenu-name">Customizable</div>
            <div class="sidemenu-btn"></div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#HowItWorks">
            <div class="sidemenu-name">How It Works</div>
            <div class="sidemenu-btn"></div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#TheSensors">
            <div class="sidemenu-name">The Sensors</div>
            <div class="sidemenu-btn"></div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#TheHertz">
            <div class="sidemenu-name">The Hertz</div>
            <div class="sidemenu-btn"></div>
          </a>
        </div>
        <div class="sidemenu-bg"></div>
      </div>
    </div>
  </div>
  <section class="comparison-section">
    <div class="comparison-container">
      <div class="comparison-content">
        <div class="cross yellow cross-tl"></div>
        <div class="cross white cross-tr" data-spinner></div>
        <h4>
          <span class="text-yellow">Polhemus</span>
          Motion Tracking Techinical Comparisons
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur. Volutpat egestas interdum eu adipiscing in viverra auctor in arcu. Etiam cursus ultrices pharetra magnis volutpat a est maecenas est. Nisl nisl vitae nibh nec egestas neque. Sit nulla vel ultricies aenean vel in amet vitae.</p>
        <div class="cross yellow cross-br"></div>
        <div class="cross white cross-bl" data-spinner></div>
      </div>
    </div>
  </section>
{% endif %}
{% line 170 %}{% if entry.title == 'Scout' %}
  <section class="hero-section">
    <div class="hero">
      <h1 class="sr-only">{{ entry.title }}</h1>
      <div class="rive-wrapper">
        <img class="rive" style="height:100%;object-fit:cover;object-position:top;" src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/scout-hero-new.jpg?w=3826&h=2261&auto=compress%2Cformat%2Cavif&fit=crop&dm=1760014026&s=7c5cac7ff844ffdbee063ec209458abd" alt="Scout">
      </div>
      <div class="hero-copy">
        <h2 class="fade-up tricks">Self-Contained <br />Head Tracker</h2>
      </div>
      <div class="hero-features">
        <div class="features" data-anim="fade-right">
          <div class="stats">
            <div class="stat-block" data-anim="fade-up" data-delay="500">
              <img alt="" loading="lazy" src="https://pom-craft.files.svdcdn.com/local/media/media/Products/1-sensor.svg?dm=1760010931">
            </div>
            <div class="stat-block" data-anim="fade-up" data-delay="750">
              <img alt="" loading="lazy" src="https://pom-craft.files.svdcdn.com/local/media/media/Products/1-source.svg?dm=1760010932">
            </div>
            <div class="stat-block" data-anim="fade-up" data-delay="1000">
              <img alt="" loading="lazy" src="https://pom-craft.files.svdcdn.com/local/media/media/Products/240Hz-Update-Rate.svg?dm=1760010935">
            </div>
            <div class="stat-block" data-anim="fade-up" data-delay="1250">
              <img class="image" alt="" loading="lazy" src="https://pom-craft.files.svdcdn.com/local/media/media/Products/3.5-MS-Latency.svg?dm=1760010934">
            </div>
          </div>
          <div class="feature-video" data-anim="fade" data-delay="1250">
            <a class="glightbox" href="https://vimeo.com/1054689121/3560d2ab93?share=copy" data-type="video" data-source="vimeo" data-width="940" data-height="529">
              <p class="play">Watch Intro</p>
            </a>
            <div class="background-video">
              <video autoplay loop muted playsinline style="background-image:url(https://pom-craft.transforms.svdcdn.com/local/media/media/Video/VIPER_INTRO.jpg?w=1280&h=720&auto=compress%2Cformat%2Cavif&fit=crop&dm=1759746955&s=b6b65169523e886f49e767de68811bc2)">
                <source src="https://servd-pom-craft.b-cdn.net/local/media/media/Video/VIPER_INTRO.mp4"></source>
                <source src="https://servd-pom-craft.b-cdn.net/local/media/media/Video/VIPER_INTRO.webm"></source>
              </video>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="intro-section">
    <div class="intro-container-lt" data-anim="fade-left" style="opacity:0">
      <div class="orange-container"></div>
      <div class="slider" data-autoplay="true" data-arrows="false" data-infinite="true">
        <div class="slide">
          <div class="slide-inner">
            <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/scout-1.jpg?w=4000&h=2667&auto=compress%2Cformat%2Cavif&fit=crop&dm=1760010771&s=46d8ab3bce6b101ae78b6f61d8fc47e6">
            <div class="h3">Scout miltary imagery</div>
          </div>
        </div>
        <div class="slide">
          <div class="slide-inner">
            <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/scout-1.jpg?w=4000&h=2667&auto=compress%2Cformat%2Cavif&fit=crop&dm=1760010771&s=46d8ab3bce6b101ae78b6f61d8fc47e6">
            <div class="h3">Scout miltary imagery</div>
          </div>
        </div>
        <div class="slide">
          <div class="slide-inner">
            <img src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/scout-1.jpg?w=4000&h=2667&auto=compress%2Cformat%2Cavif&fit=crop&dm=1760010771&s=46d8ab3bce6b101ae78b6f61d8fc47e6">
            <div class="h3">Scout miltary imagery</div>
          </div>
        </div>
      </div>
    </div>
    <div class="intro-container-rt">
      <div class="cross white cross-tr" data-spinner></div>
      <div class="cross yellow cross-tl"></div>
      <div class="cross white cross-bl" data-spinner></div>
      <div class="cross yellow cross-br"></div>
      <div class="intro-content">
        <h2 class="h2" data-anim="fade-right" data-delay="250" data-distance="30" style="opacity:0">
          <span class="text-yellow">SCOUT 3</span>
          is the fastest and most customizable electromagnetic tracker available.
        </h2>
      </div>
      <div class="intro-content" data-anim="fade-right" data-delay="500" data-distance="30" style="opacity:0">
        <p data-anim="fade-right" data-delay="500" data-distance="30" style="opacity:0">It's the latest iteration of SCOUT™, the same technology that is in full rate production, providing the highly acclaimed HMCS (Helmet Mounted Cueing System) accuracy in U.S. Military F-16, A-10, and C-130 Aircraft.</p>
      </div>
      <div class="intro-content bottom">
        <a class="button yellow" href="" data-anim="fade-right" data-delay="750" data-distance="30" style="opacity:0">Brochure</a>
        <a class="button green" href="" data-anim="fade-right" data-delay="1000" data-distance="30" style="opacity:0">Comparison Specs</a>
      </div>
    </div>
  </section>
  <section class="device-section">
    <div class="rive-container">
      <div class="sidemenu">
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#scroll1">
            <div class="sidemenu-btn"></div>
            <div class="sidemenu-name">How It Works</div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#scroll2">
            <div class="sidemenu-btn"></div>
            <div class="sidemenu-name">Lightweight Technology</div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#scroll3">
            <div class="sidemenu-btn"></div>
            <div class="sidemenu-name">Key Features</div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#scroll4">
            <div class="sidemenu-btn"></div>
            <div class="sidemenu-name">Applications</div>
          </a>
        </div>
        <div class="sidemenu-bg"></div>
      </div>
      <div class="rive-wrapper">
        <div class="rive-scroll-section" data-rive-url="https://pom-craft.files.svdcdn.com/local/media/rive/scroll-section-scout_VF.riv?dm=1760011070" data-rive-state-machine="State Machine 1" data-rive-artboard="Artboard" data-rive-autoplay="true" data-rive-is-touch-scroll-enabled="false" data-rive-automatically-handle-events="false" data-rive-fit="fitWidth" data-rive-alignment="center">
          <canvas style="height:100%;width:100%"></canvas>
        </div>
      </div>
    </div>
    <div class="copy-container">
      <div class="interactions">
        <div class="cross white"></div>
        <div class="feature-title" data-anim="fade-right" data-trigger-1>
          <div id="scroll1" class="anchor-link"></div>
          <h2>How It works</h2>
        </div>
        <div class="feature-copy">
          <div class="cross dkgreen" data-spinner></div>
          <div class="content" data-anim="fade-right" data-delay="250">
            <p>The tracker source fastens to the aircraft or simulator and creates the specially tuned A/C magnetic field in which the head/helmet sensor is tracked. Either source size allows for full spherical coverage, as well as simultaneous position and orientation tracking in real-time. </p>
            <p>With the only differences being size and tracking range, both SCOUT tracker sources are in use today on United States Military aircraft, including the A-10 Warthog, the F-16 Viper, and the C-130 Gunship, as well as high-fidelity simulators throughout the country.   </p>
          </div>
        </div>
        <img data-anim="fade-right" data-delay="500" alt="" loading="lazy" src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/scout-2.jpg?w=3720&h=2480&auto=compress%2Cformat%2Cavif&fit=crop&dm=1760010774&s=b3760f4217e4a8f7ee2feee148ccd76f">
      </div>
      <div class="interactions">
        <div class="feature-title" data-anim="fade-right" data-trigger-2>
          <div id="scroll2" class="anchor-link"></div>
          <h2>LIghtweight technology</h2>
        </div>
        <div class="feature-copy">
          <div class="cross dkgreen" data-spinner></div>
          <div class="content" data-anim="fade-right" data-delay="250">
            <p>This 6 Degree-Of-Freedom head tracker is extremely reliable, with designed-in robustness and all of the benefits of the very latest in Polhemus proprietary AC electromagnetic technology.	</p>
            <p>Our solid-state technology does not need to use a hybrid approach to tracking. No cameras to worry about, no lenses to scratch, and no visual obstructions to cover your canopy transparency. How is this possible? It's the power of AC electromagnetic technology, which doesn't require line-of-sight between the tracking subcomponents to operate correctly.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="device-section">
    <div class="copy-container">
      <div class="interactions">
        <div class="cross white"></div>
        <div class="feature-title" data-anim="fade-left">
          <div id="scroll3" class="anchor-link"></div>
          <h2>Key Features</h2>
        </div>
        <div class="feature-copy">
          <div class="cross dkgreen" data-spinner></div>
          <div class="content" data-anim="fade-left" data-delay="250">
            <p>U.S. Military Flight Qualification</p>
            <p>Lightweight, Embeddable Sensor</p>
            <p>Simplified, Fleet-Level, Common Calibration</p>
            <p>Pilot Cockpit Head Position and Rotation Angles are Native Output</p>
          </div>
        </div>
        <img data-anim="fade-left" data-delay="500" alt="" loading="lazy" src="https://pom-craft.transforms.svdcdn.com/local/media/media/Template/scout-3.jpg?w=4000&h=2666&auto=compress%2Cformat%2Cavif&fit=crop&dm=1760010781&s=18fb42dcc828f65ee2d0a5ad75269e11">
      </div>
      <div class="interactions">
        <div class="feature-title" data-anim="fade-left">
          <div id="scroll4" class="anchor-link"></div>
          <h2>Applications</h2>
        </div>
        <div class="feature-copy">
          <div class="cross dkgreen" data-spinner></div>
          <div class="content" data-anim="fade-left" data-delay="250">
            <p>Head Tracking Flight Simulators</p>
            <p>Helmet Mounted Cueing Systems</p>
            <p>Wearable Heads Up Displays</p>
            <p>Pilot Head Tracking: (F-35, F-22, F-16, F-18, C-130, A-10)</p>
            <p>Pilot Head Tracking: Helicopters</p>
            <p>Pilot Head Tracking, Non-Military Flight</p>
          </div>
        </div>
      </div>
    </div>
    <div class="lottie-container">
      <lottie-player class="lottie-scroll-section" src="https://pom-craft.files.svdcdn.com/local/media/lottie/Scout_Lottie_VF.json?dm=1760011054" speed="1"></lottie-player>
      <div class="sidemenu">
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#scroll1">
            <div class="sidemenu-name">How It Work</div>
            <div class="sidemenu-btn"></div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#scroll2">
            <div class="sidemenu-name">Lightweight Technology</div>
            <div class="sidemenu-btn"></div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#scroll3">
            <div class="sidemenu-name">Key Features</div>
            <div class="sidemenu-btn"></div>
          </a>
        </div>
        <div class="side-menu-component">
          <a class="sidemenu-link" href="#scroll4">
            <div class="sidemenu-name">Applications</div>
            <div class="sidemenu-btn"></div>
          </a>
        </div>
        <div class="sidemenu-bg"></div>
      </div>
    </div>
  </section>
  <section class="comparison-section">
    <div class="comparison-container">
      <div class="comparison-content">
        <div class="cross yellow cross-tl"></div>
        <div class="cross white cross-tr" data-spinner></div>
        <h4>
          <span class="text-yellow">Polhemus</span>
          Motion Tracking Techinical Comparisons
        </h4>
        <p>Lorem ipsum dolor sit amet consectetur. Volutpat egestas interdum eu adipiscing in viverra auctor in arcu. Etiam cursus ultrices pharetra magnis volutpat a est maecenas est. Nisl nisl vitae nibh nec egestas neque. Sit nulla vel ultricies aenean vel in amet vitae.</p>
        <div class="cross yellow cross-br"></div>
        <div class="cross white cross-bl" data-spinner></div>
      </div>
    </div>
  </section>
{% endif %}